/*** DARK MODE ***/
body.dark .header {
    background-color: #1c1c1c;
    color: #ffefd5;
}

body.dark .header__open-add-task-modal-button {
    background-color: #ffefd5;
    color: #1c1c1c;
}

body.dark .no-tasks-message {
    color: #1c1c1c;
}

body.dark .loading-message {
    color: #1c1c1c;
}

body.dark .task-card-columns {
    background-color: #706f6f;
}

body.dark .task-card-column {
    background-color: #444444;
}

body.dark .task-card-column__title {
    color: #ffefd5;
}

body.dark .task-card-column__expand-column-button {
    background-color: #1c1c1c;
    color: #ffefd5;
}

body.dark .task-modal {
    background-color: #2c2c2c;
    color: #ffefd5;
    border: solid 10px #1c1c1c;
}

body.dark .task-form__button {
    color: #ffefd5;
    background-color: #1c1c1c;
}

body.dark .task-card {
    background-color: #1c1c1c;
    box-shadow: 4px 4px 0 #bebdbb;
    color: #ffefd5;
}

/* Dark mode para desktop */
@media screen and (min-width: 768px) {
    body.dark .task-modal__title {
        background-color: #2c2c2c;
        border-top: solid 10px #1c1c1c;
        border-right: solid 10px #1c1c1c;
        border-left: solid 10px #1c1c1c;
    }

    body.dark .task-form {
        background-color: #2c2c2c;
        border-bottom: solid 10px #1c1c1c;
        border-right: solid 10px #1c1c1c;
        border-left: solid 10px #1c1c1c;
    }

    body.dark .task-modal {
        background-color: rgba(0, 0, 0, 0.5);
        /* Fondo semitransparente */
        border: none;
    }
}