/*** DESKTOP ***/
@media screen and (min-width: 768.1px) {
    body {
        /* Posicionamiento */
        position: relative;

        /* Caja modelo */
        width: 100%;
        height: 100%;

        /* Tipografía */
        font-family: Segoe, Segoe UI, Optima, Arial, sans-serif;

        /* Diseño de caja */
        overflow-y: hidden;
    }

    /* Encabezado. */
    .header {
        /* Posicionamiento */
        position: fixed;
        z-index: 100;

        /* Caja modelo */
        width: 100%;
        height: 15%;
        display: flex;
        padding: 20px 40px;

        /* Diseño del contenedor */
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        /* Tipografía */
        text-shadow: 3px 3px 0 #00112d;

        /* Visuales */
        background-color: #062a64;
        color: #ffefd5;
    }

    .header__title {
        /* Tipografía */
        font-size: 3cqh;
        font-weight: bold;
        text-align: center;
    }

    .header__group-name {
        /* Tipografía */
        font-size: 2cqh;
    }

    .header__toggle-theme-button {
        /* Posicionamiento */
        position: fixed;
        right: 20px;
        bottom: 20px;

        /* Caja modelo */
        width: 60px;
        height: 60px;

        /* Visuales */
        background-color: #1c1c1c;
        color: #ffefd5;

        /* Estilo de caja */
        border-radius: 50%;
    }

    .header__open-add-task-modal-button {
        /* Posicionamiento */
        position: absolute;
        top: 4cqh;
        right: 4cqh;

        /* Caja modelo */
        display: flex;
        width: 25cqh;
        height: 4cqh;
        padding: 10px;

        /* Diseño de caja */
        align-items: center;

        /* Tipografía */
        font-size: 2cqh;

        /* Visuales */
        background-color: #365c99;
        color: #ffefd5;
        box-shadow: 2px 0 #00112d;
    }

    .header__open-add-task-modal-button--text {
        padding: 0 0 0 5px;
    }

    /* Main. */
    .task-card-columns {
        /* Posicionamiento */
        z-index: 90;

        /* Caja modelo */
        display: flex;
        height: 100vh;
        padding: 10% 20px 15px 20px;

        /* Diseño del contenedor */
        justify-content: flex-start;
        align-items: stretch;
        gap: 20px;
        overflow-y: hidden;

        /* Visuales */
        background-color: #ffcd7b;
    }

    /* Columnas. */
    .task-card-column {
        /* Caja modelo */
        min-width: 400px;
        max-width: 400px;
        padding: 10px;

        /* Diseño de caja */
        border-radius: 5%;

        /* Visuales */
        background-color: #ffefd5;
    }

    .task-card-column__title {
        /* Tipografía */
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #00112d;

        /* Caja modelo */
        padding: 10px;
    }

    .task-card-column__container {
        /* Caja modelo */
        overflow-y: scroll;
        height: 80%;
    }

    .no-tasks-message {
        text-align: center;
    }

    .task-card-column__expand-column-button {
        /* Caja modelo */
        display: none;
    }

    .task-card-column--backlog {
        color: #365c99;
    }

    .task-card-column--to-do {
        color: #8a1a09;

    }

    .task-card-column--in-progress {
        color: #bea216;
    }

    .task-card-column--blocked {
        color: #94856d;
    }

    .task-card-column--done {
        color: #4B6306;
    }

    /* Carta. */
    .task-card {
        /* Visuales */
        background-color: #fbe5bf;

        /* Tipografía */
        font-size: 15px;
        box-shadow: 4px 4px 0 #ffcd7b;

        /* Caja modelo */
        padding: 15px;
        margin-bottom: 5px;

        /* Estilo de caja */
        border-radius: 10%;
    }

    .task-card__title {
        font-size: 20px;
        font-weight: bold;
    }

    /* Modal. */
    .task-modal {
        /* Caja modelo */
        width: 100%;
        height: 100%;
        display: grid;

        /* Diseño de caja */
        overflow-y: scroll;
        align-items: center;
        align-content: center;
        justify-content: center;
        grid-template-rows: 15cqh 70cqh;
        grid-template-columns: 70%;

        /* Visuales */
        background-color: rgba(0, 0, 0, 0.5);
        /* Fondo semitransparente */
        color: #ffefd5;
    }

    .task-modal__title {
        /* Visuales */
        background-color: #062a64;

        /* Tipografía */
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 3px 3px 0 #00112d;

        /* Diseño de caja */
        align-self: center;

        /* Caja modelo */
        height: 100%;
        padding: 15px 0;

        border-top: solid 10px #fea05d;
        border-left: solid 10px #fea05d;
        border-right: solid 10px #fea05d;
    }

    .task-form {
        /* Visuales */
        background-color: #062a64;

        /* Caja modelo */
        display: grid;
        width: 100%;
        height: 100%;

        /* Diseño de caja */
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, 13cqh) repeat(2, 14cqh);
        align-content: center;

        border-left: solid 10px #fea05d;
        border-right: solid 10px #fea05d;
        border-bottom: solid 10px #fea05d;
    }

    .task-form__input {
        /* Caja modelo */
        display: flex;
        padding: 0 15px;

        /* Diseño de caja */
        flex-direction: column;
        align-self: center;

        /* Tipografía */
        font-size: 20px;
        font-weight: bold;
    }

    .task-form__input input,
    .task-form__input select {
        /* Caja modelo */
        height: 40px;

        /* Tipografía */
        font-size: 15px;

        /* Visuales */
        background-color: #ffefd5;
    }

    .task-form__button {
        /* Visuales */
        color: #00112d;

        /* Estilo de caja */
        border-radius: 10%;

        /* Tipografía */
        font-weight: bold;

        /* Caja modelo */
        justify-self: center;
        height: 95%;
        width: 30cqh;
    }

    .task-form__button--cancel {
        background-color: #dfc339;
    }

    .task-form__button--delete {
        background-color: #c63b26;
    }

    .task-form__button--accept {
        background-color: #528932;
    }
}